# unconventionally formatted files
/.changeset

# compiled output
/dist/
/tmp/

# dependencies
/node_modules/

# misc
/.env*
/.vite/
/.pnp*
.pnp.*
*.yaml
public/
.ssg*

# ember-try
/.node_modules.ember-try/

# Rust crate + wasm-pack output
crates/
app/lib/wasm/
